# Nano-GPT
NANO_GPT_API_KEY=
GEN_API_PROMPT=

# CryptoBot
CRYPTO_BOT_TOKEN=

# Platega
PLATEGA_API_URL=https://app.platega.io
PLATEGA_MERCHANT_ID=
PLATEGA_SECRET=

# RollyPay
ROLLYPAY_API_URL=https://lk.rollypay.io
ROLLYPAY_API_KEY=
ROLLYPAY_TERMINAL_ID=

# App
NEXT_PUBLIC_APP_URL=https://your-domain.com
DATABASE_PATH=../bot.db
BOT_TOKEN=

# Prices (RUB)
PRICE_1=59
PRICE_10=349
PRICE_25=690
PRICE_50=1190
